<div ng-controller="ViewerCtrl">
    <div ng-include="'partials/viewer/entry-container.html'"></div>
    <div class="entry-view row body-content" style="background-color: #bbbbbb;" ng-class="minMenu ? 'minimizedMenu' : '' " smallscreen>
<!--    <div class="row body-content" style="background-color: #252A30;display:flex;" ng-class="minMenu ? 'minimizedMenu' : '' ">-->
<!--        <div ng-class="hideMenu ? 'showM' : 'hideM'" class="col-lg-2 responsive-md-screen nopadding fullHeight sidemenu">-->
<!--        <div ng-class="hideMenu ? 'showM' : 'hideM'" class="responsive-md-screen nopadding fullHeight sidemenu" style="position:absolute;">-->
        <div ng-class="hideMenu ? 'showM' : 'hideM'" class="responsive-md-screen nopadding fullHeight sidemenu" style="position:absolute;">
            <div ng-include="'partials/viewer/viewer-entry-side-bar.html'"></div>
        </div>
<!--        <div class="col-lg-10 col-xs-12 responsive-md-screen right-content" style="height:100%;">-->
        <div class="col-lg-12 col-xs-12 responsive-md-screen right-content" style="height:100%;">
            <iframe id="iframeViewer" ng-src="{{widgetURL}}" width="100%" style="border: 0; min-height: 800px; background-color: white; "></iframe>
<!--            <iframe id="iframeViewer" ng-src="http://rawgit.com/calipho-sib/nextprot-viewers/develop/sequence/app/index.html?env=dev" width="100%" style="border: 0; min-height: 800px; background-color: white; "></iframe>-->
            
            <!-- another option is to pass an array of trusted domains -->
            <!-- <script>iFrameResize({log:false, checkOrigin: ['http://rawgit.com', 'https://rawgit.com', 'https://cdn.rawgit.com', 'http://cdn.rawgit.com']})</script> -->
            <script>
                iFrameResize({
                    log: false,
                    checkOrigin: false
                })
            </script>
        </div>
    </div>
</div>

<!-- Init the tooltip -->
<script defer>
    $('[data-toggle="tooltip"]').tooltip();
</script>