<div ng-controller="ViewerCtrl">
    <div class="row" style="border-top: 1px solid #E7E7E7;" ng-class="minMenu ? 'minimizedMenu' : '' " smallscreen>
        <div class="responsive-md-screen second-header-left" style="padding:0px;background-color:#bbb;height:50px">
            <div class="col-xs-2" id="toggle-sidemenu">
                <a class="btn" href="javascript:void(0);" ng-click="hideMenu = !hideMenu">
                    <span class="fa fa-reorder" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-sm-12 col-xs-8" id="entrySummaryBoxName">
                <div id="entrySummaryName">
                    <a class="figure" type="button" ng-click="minMenu = !minMenu">
                        <i class="fa fa-chevron-left" ng-class="{'right' : minMenu}"></i>
                    </a>
                    <span class="text">
                        PUBLICATION
                    </span>
                </div>
                <ul id="protein-tooltip" class=" submenu">
                    <li class="submenu-header ellipsis">PUBLICATION</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 responsive-md-screen second-header-right">
            <div class="row" style="height:inherit;background-color:#f8f8f8;border-bottom: 1px solid #E7E7E7;margin-left:0px;height:50px;">

                <div class="col-lg-7 col-md-6 col-sm-7">
                    <h1 class="customH1">Internal publication ID : <span class="pubId" ng-bind="publiName"></span></h1>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-2 col-sm-5 col-xs-12 entry-search" style="text-align:right;">
                    <form ng-submit="makeSimpleSearch()">
                        <div class="input-group">
                        <input ng-model="simpleSearchText" type="text" class="form-control" placeholder="Search in neXtProt...">
                        <span class="input-group-btn"><button class="btn btn-default simple-search-btn" type="submit"><span class="fa fa-search"></span></button></span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row body-content" style="background-color: #252A30;" ng-class="minMenu ? 'minimizedMenu' : '' " smallscreen>
        <div ng-class="hideMenu ? 'showM' : 'hideM'" class="responsive-md-screen nopadding fullHeight sidemenu">
            <div ng-include="'partials/viewer/viewer-publi-side-bar.html'"></div>
        </div>
        <div class="col-lg-12 col-xs-12 responsive-md-screen right-content">
            <publication-with-linked-entries-view nx-config="{{nxConfig}}"></publication-with-linked-entries-view>
        </div>
    </div>
</div>

