<div ng-controller="ViewerCtrl">
    <div class="row" style="border-top: 1px solid #E7E7E7">
        <div id="entrySummaryBoxName" class="col-md-2">
            <h4 id="entrySummaryName">{{termName}}</h4>
        </div>
        <div class="col-md-10" style="height:50px;">
            <div class="row" style="height:inherit;background-color:white;border-bottom: 1px solid #B6B6B6;">
                <div class="col-md-4" style="margin-top: 8px;margin-right: 0px; ">
                    <form ng-submit="makeSimpleSearch()">
                            <input ng-model="simpleSearchText" type="text" class="form-control" placeholder="Search an entry...">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 nopadding fullHeight sidemenu">
            <div ng-include="'partials/viewer/viewer-term-side-bar.html'"></div>
        </div>
        <div class="col-sm-10" style="height:100%;padding:0px;box-shadow: -1px 0px 2px -1px #888;">
            <iframe id="iframeViewer" ng-src="{{widgetURL}}" width="100%" style="border: 0; min-height: 800px; background-color: white; "></iframe>
            <!-- another option is to pass an array of trusted domains -->
            <!-- <script>iFrameResize({log:false, checkOrigin: ['http://rawgit.com', 'https://rawgit.com', 'https://cdn.rawgit.com', 'http://cdn.rawgit.com']})</script> -->
            <script>iFrameResize({log:false, checkOrigin: false})</script>
        </div>
    </div>
</div>

