<div ng-controller="ViewerCtrl">
  <div class="row" style="border-top: 1px solid #E7E7E7">
  </div>
  <div class="row">
    <div class="col-sm-2 nopadding fullHeight sidemenu">
      <div ng-include="'partials/viewer/viewer-side-bar.html'"></div>
    </div>
    <div class="col-sm-10" style="height:100%;padding:0px;box-shadow: -1px 0px 2px -1px #888;">
      <iframe id="iframeViewer" ng-src="{{widgetURL}}" width="100%" style="border: 0"></iframe>
      <script>iFrameResize({log:false})</script>
    </div>
  </div>
</div>
