<ul class="topmenu topmenu-responsive" np-affix="50">
<!--    <li active-section ng-class="{active: hasActive()}">-->
    <li active-section ng-class="{active: hasActive()}">
        <a class="" href="javascript:void(0);" data-target="#scn" data-toggle="collapse">
            <span class="figure">
                <span>NX</span>
<!--                <img style="width:30px;" src="../img/proteins.png">-->
              </span>
            <span class="text" style="padding-left:15px;">neXtProt TOOLS</span>
            <span class="arrow fa"></span>
        </a>
        <!-- START 2nd Level Menu -->
        <ul id="scn" class=" submenu collapse in">
            <li class="submenu-header ellipsis">neXtProt tools</li>
            <li ng-class="activePage('tools/peptide-uniqueness-checker')">
                <a href="tools/peptide-uniqueness-checker">
                    <span class="text">Peptide uniqueness checker</span>
                </a>
            </li>
            <li ng-class="activePage('tools/digestion-tool')">
                <a href="tools/digestion-tool">
                    <span class="text">Protein digestion</span>
                </a>
            </li>
<!--
            <li ng-class="activePage('tools/blast')">
                <a href="#" disabled>
                    <span class="text">Blast</span>
                </a>
            </li>
-->
        </ul>
    </li>
</ul>
