<ul class="topmenu topmenu-responsive" np-affix="50">
    <li active-section ng-class="{active: hasActive()}">
        <a class="" href="javascript:void(0);" data-target="#scn" data-toggle="collapse">
            <span class="figure">
                <span>VGIC</span>
<!--                <img style="width:30px;" src="../img/proteins.png">-->
              </span>
<!--            <span class="text" style="padding-left:15px;">Sodium Channels</span>-->
<!--            <span class="text" style="padding-left:15px;text-transform:uppercase">SODIUM CHANNELS</span>-->
            <span class="text" style="text-transform:uppercase">Ion Channels Variants Portal</span>
            <span class="arrow fa"></span>
        </a>
        <!-- START 2nd Level Menu -->
        <ul id="scn" class=" submenu collapse in">
            <li class="submenu-header ellipsis">Ion channels variants portal</li>
            <li ng-class="activePage('portals/navmut')">
                <a href="portals/navmut">
                    <span class="text">Table</span>
                </a>
            </li>
        </ul>
    </li>
    <li active-section ng-class="{active: hasActive()}">
        <a class="" href="javascript:void(0);" data-target="#brca" data-toggle="collapse">
            <span class="figure">
                <span>CANCER</span>
<!--                <img style="width:30px;" src="../img/proteins.png">-->
              </span>
<!--            <span class="text" style="padding-left:15px;">Breast Cancer</span>-->
<!--            <span class="text" style="padding-left:15px;">BREAST CANCER</span>-->
            <span class="text" style="text-transform:uppercase;">Cancer Variants Portal</span>
            <span class="arrow fa"></span>
        </a>
        <!-- START 2nd Level Menu -->
        <ul id="brca" class=" submenu collapse in">
            <li class="submenu-header ellipsis">Cancer variants portal</li>
            <li ng-class="activePage('portals/cancer-variants')">
                <a href="portals/cancer-variants">
                    <span class="text">Table</span>
                </a>
            </li>
        </ul>
    </li>
    <li active-section ng-class="{active: hasActive()}">
        <a class="" href="javascript:void(0);" data-target="#brca" data-toggle="collapse">
            <span class="figure">
<!--                <span>BRCA</span>-->
                <span>KINASE</span>
<!--                <img style="width:30px;" src="../img/proteins.png">-->
              </span>
<!--            <span class="text" style="padding-left:15px;">Breast Cancer</span>-->
<!--            <span class="text" style="padding-left:15px;">BREAST CANCER</span>-->
            <span class="text" style="text-transform:uppercase;">Protein kinase function portal</span>
            <span class="arrow fa"></span>
        </a>
        <!-- START 2nd Level Menu -->
        <ul id="brca" class=" submenu collapse in">
            <li class="submenu-header ellipsis">Protein kinase function portal</li>
            <li ng-class="activePage('portals/kinase-function')">
                <a href="portals/kinase-function">
                    <span class="text">Table</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
