<!--
<div class="viewport" style="position: relative; overflow: hidden; width: auto;">
    <section class="content slimscroll" style="overflow: hidden; width: auto;">
        <h5 class="heading">Main Menu</h5>
-->
<!-- START Template Navigation/Menu -->
<ul class="topmenu topmenu-responsive" np-affix="50">
    <li active-section ng-class="{active: hasActive()}">
<!--        <a class="collapsed" removed-->
        <a class="" href="javascript:void(0);" data-target="#dashboard" data-toggle="collapse">
            <span class="figure">
                <img style="width:30px;" src="../img/proteins.png">
              </span>
            <span class="text">PROTEIN</span>
            <span class="arrow fa"></span>
        </a>
        <!-- START 2nd Level Menu -->
        <ul id="dashboard" class=" submenu collapse in">
            <li class="submenu-header ellipsis">Protein</li>
            <li ng-class="activePage('function')">
                <a href="/entry/{{widgetEntry}}{{goldFilter}}">
                    <span class="text">Function</span>
                </a>
            </li>
            <li ng-class="activePage('medical')">
                <a href="/entry/{{widgetEntry}}/medical{{goldFilter}}">
                    <span class="text">Medical</span>
                </a>
            </li>
            <li ng-class="activePage('expression')">
                <a href="/entry/{{widgetEntry}}/expression{{goldFilter}}">
                    <span class="text">Expression</span>
                </a>
            </li>
            <li ng-class="activePage('interactions')">
                <a href="/entry/{{widgetEntry}}/interactions{{goldFilter}}">
                    <span class="text">Interactions</span>
                </a>
            </li>
            <li ng-class="activePage('localization')">
                <a href="/entry/{{widgetEntry}}/localization{{goldFilter}}">
                    <span class="text">Localization</span>
                </a>
            </li>
            <li ng-class="activePage('sequence')">
                <a href="/entry/{{widgetEntry}}/sequence">
                    <span class="text">Sequence</span>
                </a>
            </li>
            <li ng-class="activePage('proteomics')">
                <a href="/entry/{{widgetEntry}}/proteomics">
                    <span class="text">Proteomics</span>
                </a>
            </li>
            <li ng-class="activePage('structures')">
                <a href="/entry/{{widgetEntry}}/structures{{goldFilter}}">
                    <span class="text">Structures</span>
                </a>
            </li>
            <li ng-class="activePage('peptides')">
                <a href="/entry/{{widgetEntry}}/peptides">
                    <span class="text">Peptides</span>
                </a>
            </li>
            <li ng-class="activePage('phenotypes')">
                <a href="/entry/{{widgetEntry}}/phenotypes{{goldFilter}}">
<!--                <a href="/entry/{{widgetEntry}}/phenotypes" link-enabled="false" class="disabled">-->
                    <span class="text">Phenotypes</span>
                </a>
            </li>
            <li ng-class="activePage('exons')">
                <a href="/entry/{{widgetEntry}}/exons">
                    <span class="text">Exons</span>
                </a>
            </li>
            <li ng-class="activePage('identifiers')">
                <a href="/entry/{{widgetEntry}}/identifiers">
                    <span class="text">Identifiers</span>
                </a>
            </li>
        </ul>
        <!--/ END 2nd Level Menu -->
    </li>
    <li active-section ng-class="{active: hasActive()}">
        <a class="" href="javascript:void(0);" data-toggle="collapse" data-target="#page">
            <span class="figure">
                <i class="fa fa-list-alt" style="padding-left:7px;color:white;"></i>
              </span>
            <span class="text">REFERENCES</span>
            <span class="arrow"></span>
        </a>
        <!-- START 2nd Level Menu -->
        <ul id="page" class="submenu collapse in">
            <li class="submenu-header ellipsis">Curated publications</li>
            <li ng-class="activePage('publications')">
                <a ng-if="entryProps.publicationCounts.CURATED > 0" href="/entry/{{widgetEntry}}/publications">
                    <span class="text">Curated publications</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.CURATED"></span>
                    </span>
                </a>
                <a ng-show="entryProps.publicationCounts.CURATED === 0" ng-class="{disabled: true}">
                    <span class="text">Curated publications</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.CURATED"></span>
                    </span>
                </a>
            </li>
            <li ng-class="activePage('computed_references')">
                <a ng-if="entryProps.publicationCounts.ADDITIONAL > 0" href="/entry/{{widgetEntry}}/computed_references">
                    <span class="text">Additional publications</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.ADDITIONAL"></span>
                    </span>
                </a>
                <a ng-if="entryProps.publicationCounts.ADDITIONAL === 0" ng-class="{disabled: true}">
                    <span class="text">Additional publications</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.ADDITIONAL"></span>
                    </span>
                </a>
            </li>
            <li ng-class="activePage('patents')">
                <a ng-if="entryProps.publicationCounts.PATENT > 0" href="/entry/{{widgetEntry}}/patents">
                    <span class="text">Patents</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.PATENT"></span>
                    </span>
                </a>
                <a ng-if="entryProps.publicationCounts.PATENT === 0" ng-class="{disabled: true}">
                    <span class="text">Patents</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.PATENT"></span>
                    </span>
                </a>
            </li>
            <li ng-class="activePage('submissions')">
                <a ng-if="entryProps.publicationCounts.SUBMISSION > 0" href="/entry/{{widgetEntry}}/submissions">
                    <span class="text">Submissions</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.SUBMISSION"></span>
                    </span>
                </a>
                <a ng-if="entryProps.publicationCounts.SUBMISSION === 0" ng-class="{disabled: true}">
                    <span class="text">Submissions</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.SUBMISSION"></span>
                    </span>
                </a>
            </li>
            <li ng-class="activePage('web')">
                <a ng-if="entryProps.publicationCounts.WEB_RESOURCE > 0" href="/entry/{{widgetEntry}}/web">
                    <span class="text">Web resources</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.WEB_RESOURCE"></span>
                    </span>
                </a>
                <a ng-if="entryProps.publicationCounts.WEB_RESOURCE === 0" ng-class="{disabled: true}">
                    <span class="text">Web resources</span>
                    <span class="number">
                    <span class="label label-success" ng-bind="entryProps.publicationCounts.WEB_RESOURCE"></span>
                    </span>
                </a>    
            </li>
        </ul>
    </li>
    <li active-section ng-class="{active: hasActive()}">
        <a class="" href="javascript:void(0);" data-target="#community" data-toggle="collapse">
            <span class="figure">
                <i class="fa fa-group" style="padding-left:7px;color:white;"></i>
              </span>
            <span class="text">COMMUNITY</span>
            <span class="arrow"></span>
        </a>
        <!-- START 2nd Level Menu -->
        <ul id="community" class="submenu collapse in">
            <li class="submenu-header ellipsis">Community</li>

            <li ng-class="activePage('gh/zhanglabs/COFACTOR')">
                <a href="/entry/{{widgetEntry}}/gh/zhanglabs/COFACTOR">
                    <span class="text"><span ng-bind="entryProps.geneName"></span> I-TASSER/COFACTOR</span>
                </a>
            </li>
            <li ng-class="activePage('gh/sweetrain096/SAAVpedia')">
                <a href="/entry/{{widgetEntry}}/gh/sweetrain096/SAAVpedia">
                    <span class="text"><span ng-bind="entryProps.geneName"></span> SAAVpedia</span>
                </a>
            </li>
            <li ng-class="activePage('gh/Alain-Gateau/Protein-3D-structure')">
                <a href="/entry/{{widgetEntry}}/gh/Alain-Gateau/Protein-3D-structure">
                    <span class="text"><span ng-bind="entryProps.geneName"></span> 3D structure</span>
                </a>
            </li>
        </ul>
        <!--/ END 2nd Level Menu -->
    </li>
</ul>
