<div class="modal-dialog fade-out-right fade-in-left repository-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Export '<i>{{listToExport.name}}</i>' list</h3>
        </div>
        <div class="modal-body"  style="height: 800px">
            <form>
                <div class="form-group">
                    <div class="dropdown">
                        <label class="">Format: </label>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-expanded="true">
                            {{selectedFormat}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="format in formats"><a href="" ng-click="setSelectedFormat(format)">{{format}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <label class="">Sub-Part</label>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-expanded="true">
                            {{selectedView}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="view in views"><a href="" ng-click="setSelectedView(view)">{{view}}</a></li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="bs-example" data-example-id="simple-small">
                <p>
                    Did you know you could also use the API directly to export? Just copy the code below.
                </p>
            </div>
            <div class="highlight">
                <pre><code class="language-html" data-lang="html"><span class="nt"></span>wget {{getFileExportURL()}}</span></code></pre>
            </div>

        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" href="{{getFileExportURL()}}" target="_blank" ng-click="dismiss()">Export</a>
        </div>
    </div>
</div>