
#content-page-div table, #stat-page-div table {
    /*width: 50%;*/
}

span.subtitle {
    font-size: 92%;
    color: #666;
}

#content-page-div ul, #stat-page-div ul {
    list-style-type: none;
}

#content-page-div ul li:before {
    content: "\00BB \0020";
    margin-left: -12px;
}

.release-row {
    border-bottom: 1px solid #AAA;
    padding: 3px;
}

.category {
    padding: 3px;

    color: #787878;
    vertical-align: middle;
}

.first {
    border-top: 1px solid #AAA;
}

.last {
    border-bottom: none;
}