
.repository-modal{
	z-index: 1040;
	width: 700px;
	position: absolute;
	margin: -5px auto;
	left: 0;
	right: 0;
}

.repository-modal .modal-body{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;  
}

.back-list {
	margin: 0 10px 10px 0;
}

.put-query {
	margin: 0 10px 10px 10px;
}

@media (max-width: 980px){
	.repository-modal{
		left:10%;
	}	
}

@media (max-width: 750px){
	.repository-modal{
		left:0;
	}	
}