


.query-title{
  font-size:110%;
  font-weight: 300;
}

.search-bar{
  position: relative;
}

.checked-label,
.unchecked-label {
    color: #777;
}

.unchecked-label {
    font-weight: normal;
}

.checked-label {
    font-weight: bold;
}

.search-toggle{
    position: absolute;
    top:-25px;
    left: 20px;
    font-size: 90%;
    /*font-weight:300;*/
}
.search-bottom{
    float: left;
    margin-left: 2px;
    width: 100%;
    min-height: 10px !important;
}

.search-row {
    margin-top: 20%;
    margin-bottom: 20%;
}

.modal-backdrop {
    background-color: #FFFFFF;
}

.search-row.animate {
    margin-top: 0px;
    padding: 25px 0 10px 0;
    margin-bottom: inherit;
    transition: .2s linear all;
    -webkit-transition: .2s linear all;
    -moz-transition: .2s linear all;
    -o-transition: .2s linear all;
    background-color:whitesmoke;
}

.search-row.animate a img{
  display: none;
}

.search-row .home {
    position: absolute;
    margin-top: -120px;
    left: 40%;
    z-index: -1;
}

.solrparams {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.resultparams {
    background-color: #FEFEFE;
    background-repeat: repeat-x;
    border-top: 1px solid #D4D4D4;
    margin-bottom: 60px;
    position: relative;

}

.resultparams .navbar-inner {
    border-bottom: 1px solid #D4D4D4;
    box-shadow: inherit;
    background-image: inherit;
    background-color: #fff;
}

.resultparams .affix .container {
    padding-left: 0px !important;
}

.resultparams .affix #search-query-affix {
    display: block !important;
    display: inline-block !important;
    vertical-align: middle !important;
    margin: 5px;
    transition: .2s linear all;
    -webkit-transition: .2s linear all;
    -moz-transition: .2s linear all;
    -o-transition: .2s linear all;
    opacity: 1 !important;

}

.resultparams .label-gg {
    color: #808080;
    right: 10px;
    position: absolute;
    top: 25%;
}


.resultfilters {
    margin-top: 70px;
    width: 250px
}

.resultparams .affix{
  top: 50px;  
}
.search-row .affix{
    padding-top:10px;
    top: 50px;  
    background-color: #eee;

}

.resultfilters.affix {
    padding-left: 0;
    z-index: 99;
    margin-top: 60px;
    margin-left: 13px;
}

.resultfilters .active {
    background-color: aliceblue;
    width: 80%;
    border-radius: 5px;
}

.resultfilters ul{
    max-width: 320px;
    margin-left: 15%;
}

.resultfilters li{
    line-height:24px;
}



.result-content .row{
    margin-top: 70px;
}

.result-content .pagination {
    margin: 20px 20% !important;
}


form input.paginate{
    border-radius: 3px;
    width: 30px;
    height: 25px;
    color: black;
    text-align: right;
    padding: 0px;
    border: 1px solid #ddd;
    line-height: 16px;
    margin-top: 4px;
}

.search-bar .dropdown-menu {
    min-width: 400px;
}

.search-bar .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #ccc;
    background-image: linear-gradient(to bottom, #eee, #ddd);
    background-repeat: repeat-x;
    color: black;
    outline: 0 none;
    text-decoration: none;
}


.search-width-no-quality, .search-width-quality, .search-width-advanced{
}

.search-width-advanced {
    width: 100%;
    min-height: 34px;
}

.search-width-quality {
}

ul#search-results li {
    padding-bottom: 20px;
}

ul#search-results .result-authors {
    font-size: 90%;
}

ul#search-results .result-authors a {
    color: #5496cf;
    /*color: #67a2d4;*/
}

ul#search-results .result-abstract {
    font-size: 90%;
    margin-right: 60px;
    padding-top: 5px;
    text-align: justify;
    text-rendering: optimizelegibility;
}

.sparql-small-box {
    margin-left: -10%!important;
    position: relative;
}

.sparql-editor-buttons {
    position: absolute;
    right: -100px;
    top:0;
    z-index:10;
    background-color: white
}

#sparqlTitle {
    width: 500px;
}

.npToggleMoreText {
    color: grey;
}

