

div.CodeMirror{
}

/* Sparql editor adjust height automatically */

#search-query-advanced{
    border:1px solid #DDDDDD;    
    max-height: 200px;
    overflow-y:auto;
    overflow-x:auto;
    float: right;
}


#search-query-advanced .CodeMirror , #search-query-save .CodeMirror {
    font-family: monospace;
    height:auto !important;
    min-height: 32px;
}




/**
#search-query-advanced div.CodeMirror-scroll pre, #search-query-save div.CodeMirror-scroll pre{
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    display: block;
    margin: 0px;
    padding: 0px;
    font-size:12px;
    line-height: 18px;
    min-height:22px;
}







#search-query-advanced .CodeMirror-cursor:before, #search-query-save .CodeMirror-cursor:before{
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    width: 9999px;
    overflow: hidden;
    height: 1.15em;
    background: rgba(255,255,255,.08);
    visibility:visible;
}

*/