
#data-sources-section #datasources {
    /*background-color: #aaa;*/
    height: 175px;
}

#data-sources-section img.source-img,
#data-sources-section p,
#source-np {
    position: absolute;
}

#source-np {
    top: 40px;
    left: 76px;
    width: 63px;
    height: 77px
}

#data-sources-section img.source-img,
#data-sources-section p {
    width: auto;
}

#source-cellosaurus {
    top: 5px;
    left: 30px;
    height: 14px;
    transition: 0.2s all ease;
}
#source-cellosaurus:hover {
    top: 3px;
    left: 15px;
    height: 17px;
}

#source-gnomad {
    top: 7px;
    left: 135px;
    height: 16px;
    transition: 0.2s all ease;
}
#source-gnomad:hover {
    top: 3px;
    left: 135px;
    height: 19px;
}

#source-enyo {
    top: 30px;
    left: 157px;
    height: 22px;
    transition: 0.2s all ease;
}
#source-enyo:hover{
    top: 28px;
    left: 157px;
    height: 28px;
}

#source-intact {
    top: 57px;
    left: 156px;
    height: 23px;
    transition: 0.2s all ease;
}
#source-intact:hover {
    top: 54px;
    left: 146px;
    height: 28px;
}

#source-srm-atlas {
    top: 84px;
    left: 143px;
    height: 18px;
    transition: 0.2s all ease;
}
#source-srm-atlas:hover {
    top: 82px;
    left: 134px;
    height: 22px;
}

#source-glyconnect {
    top: 108px;
    left: 146px;
    height: 30px;
    transition: 0.2s all ease;
}
#source-glyconnect:hover {
    top: 105px;
    left: 146px;
    height: 35px;
}

#source-uniprot-goa {
    top: 139px;
    left: 120px;
    font-size: 0.9em;
    transition: 0.2s all ease;
}
#source-uniprot-goa:hover {
    top: 139px;
    left: 120px;
    font-size: 1em;
}

#source-hpa {
    top: 160px;
    left: 60px;
    height: 8px;
    transition: 0.2s all ease;
}
#source-hpa:hover {
    top: 160px;
    left: 46px;
    height: 10px;
}

#source-uniprot {
    top: 129px;
    left: 24px;
    height: 25px;
    transition: 0.2s all ease;
}
#source-uniprot:hover {
    top: 129px;
    left: 13px;
    height: 30px;
}

#source-bgee {
    top: 107px;
    left: 5px;
    height: 21px;
    transition: 0.2s all ease;
}
#source-bgee:hover {
    top: 104px;
    left: -5px;
    height: 26px;
}

#source-cosmic {
    top: 85px;
    left: -5px;
    height: 13px;
    transition: 0.2s all ease;
}
#source-cosmic:hover {
    top: 83px;
    left: -7px;
    height: 16px;
}

#source-massive {
    top: 55px;
    left: -5px;
    height: 21px;
    transition: 0.2s all ease;
}
#source-massive:hover {
    top: 55px;
    left: -8px;
    height: 26px;
}

#source-peptide-atlas {
    top: 26px;
    left: 10px;
    height: 24px;
    transition: 0.2s all ease;
}
#source-peptide-atlas:hover {
    top: 23px;
    left: 0px;
    height: 29px;
}

/* The animation code */
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

#data-sources-section #datasources a{
    opacity:0;
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
