a.social-link img {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    margin-left: 5px;
}

#news-sidebar {
    background-color: #EBF1F5;
    border: 2px solid #A3D5F7;
    z-index: 1;
}
#news-section .section-content{
    margin-top:10px;
}
#news-section li{
    margin-top:10px;
}

.minimizedMenu .sidemenu .topmenu.news-sidebar {
    width: 60px;
    overflow: auto;
}