
#data-sources-section #datasources {
    /*background-color: #aaa;*/
    height: 175px;
}

#data-sources-section img.source-img,
#data-sources-section p,
#source-np {
    position: absolute;
}

#source-np {
    top: 43px;
    left: 74px;
    width: 63px;
    height: 77px
}

#data-sources-section img.source-img,
#data-sources-section p {
    width: auto;
}

#source-hpa {
    top: 13px;
    left: 74px;
    height: 10px;
    transition: 0.2s all ease;
}
#source-hpa:hover {
    top: 13px;
    left: 74px;
    height: 12px;
}

#source-srm-atlas {
    top: 83px;
    left: 163px;
    height: 20px;
    transition: 0.2s all ease;
}
#source-srm-atlas:hover {
    top: 83px;
    left: 150px;
    height: 23px;
}

#source-bgee {
    top: 79px;
    left: -19px;
    height: 27px;
    transition: 0.2s all ease;
}
#source-bgee:hover {
    top: 79px;
    left: -19px;
    height: 30px;
}

#source-cosmic {
    /* top: 112px;
    left: -5px;
    height: 15px; */
    top: 113px;
    left: -21px;
    height: 15px;
    transition: 0.2s all ease;
}
#source-cosmic:hover {
    top: 113px;
    left: -21px;
    height: 18px;
}

#source-uniprot {
    bottom: 11px;
    left: -5px;
    height: 30px;
    transition: 0.2s all ease;
}
#source-uniprot:hover {
    bottom: 11px;
    left: -5px;
    height: 35px;
}

#source-uniprot-goa {
    top: 117px;
    left: 141px;
    font-size: 0.9em;
    transition: 0.2s all ease;
}
#source-uniprot-goa:hover {
    top: 117px;
    left: 135px;
}

#source-peptide-atlas {
    top: 15px;
    left: 1px;
    height: 29px;
    transition: 0.2s all ease;
}
#source-peptide-atlas:hover {
    top: 15px;
    left: -15px;
    height: 35px;
}

#source-intact {
    top: 29px;
    left: 156px;
    height: 23px;
    transition: 0.2s all ease;
}
#source-intact:hover {
    top: 29px;
    left: 142px;
    height: 32px;
}

#source-enyo {
    top: 55px;
    left: 180px;
    height: 23px;
    transition: 0.2s all ease;
}

#source-enyo:hover{
    top: 55px;
    left: 165px;
    height: 32px;
}


#source-glyconnect {
    bottom: 9px;
    left: 148px;
    height: 30px;
    transition: 0.2s all ease;
}
#source-glyconnect:hover {
    bottom: 9px;
    left: 135px;
    height: 35px;
}
#source-gnomad {
    bottom: 5px;
    left: 70px;
    height: 20px;
    transition: 0.2s all ease;
}
#source-gnomad:hover {
    bottom: 5px;
    left: 70px;
    height: 25px;
}

#source-massive {
    bottom: 101px;
    left: -23px;
    height: 23px;
    transition: 0.2s all ease;
}
#source-massive:hover {
    bottom: 101px;
    left: -23px;
    height: 28px;
}

/* The animation code */
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

#data-sources-section #datasources a{
    opacity:0;
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
