#data-sources-section img.source-img, #data-sources-section p {
    position: absolute;
}

#source-np {
    top: 29%;
    left: 43%;
    height: 32%;
}

#source-uniprot {
    top: 65%;
    left: 37%;
    height: 16%;
}

#source-bgee {
    top: 42%;
    left: 16%;
    height: 12%;
}

#source-peptide-atlas {
    top: 41%;
    right: 17%;
    height: 13%;
}

#source-hpa {
    top: 19%;
    left: 32%;
    height: 5%;
}

#source-intact {
    top: 28%;
    right: 22%;
    height: 11%;
}

#source-srm-atlas {
    top: 28%;
    left: 18%;
    height: 8.5%;
}

#source-uniprot-goa {
    top: 60%;
    right: 18%;
    font-size: 0.9em;
}

#source-cosmic {
    top: 59%;
    left: 18%;
    height: 6.5%;
}
