body {
	padding-top: 90px;
	min-height: 200px;
}

.np-pink {
	color: #C50063;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	display: inline-block;
	background: #F7F8FA url("../img/sib_header_bkgd.png") repeat-x scroll left top;
	height: 80px;
	width: 100%;
	color: #787878;
	z-index: 1000;
}

#header-title {
	font-size: 1.6em;
	color: #777;
	text-align: center;
}
@media (max-width: 768px) {
	#header-title {
		display: none;
	}
}

img.header-logo {
	position: absolute;
	top: 8px;
}

img.np-logo {
	height: 45px;
	left: 15px;
}

img.sib-logo {
	height: 35px;
	right: 15px;
}

nav {
	/*position: absolute;*/
	top: 60px;
	z-index: 1001;
}

/* MENU (override bootstrap)*/
.navbar-nav {
	padding-top: 0;
}
.navbar-brand {
	padding: 0;
}

.navbar-nav > li > a {
	color: #787878;
	padding-top: 0px;
	padding-bottom: 0px;

}

/* SECTIONS (commons properties)*/
div.info-section {
	height: 240px;
	padding: 0px 2%;
	color: #787878;
}

div.section {
	height: 220px;
	padding: 10px 4%;
	background-color: white;
	border: 1px solid #E3E3E3;
	box-shadow: 0px 2px 5px #BBBBBB;
}

div.section-header, div.section-content, div.section-footer {
	margin-left: auto;
	margin-right: auto;
}

div.section-header h2 {
	font-size: 1.2em;
	margin-top: 0;
	text-align: center;
	margin-bottom: 5px;
}

div.section-content, div.section-footer {
	font-size: 0.75em;
}

div.section-footer {
	position: absolute;
	bottom: 25px;
}

#main {
	top: 90px;
}

div.section ul {
	list-style-type: none;
}

div.section li {
	margin-bottom: 3px;
}

div.section p {
	margin: 0px 0px 0px 8px;
}