body {
	padding-top: 70px;
	padding-bottom: 25px;
	min-height: 200px;
	background: #EBF1F5 !important;
}

.np-color-pink {
	color: #C50063;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
	background: #333333;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	display: inline-block;
	background: #F7F8FA url("../img/sib_header_bkgd.png") repeat-x scroll left top;
	height: 70px;
	width: 100%;
	color: #787878;
	z-index: 1000;
}

#header-title h1, #header-title h2 {
	color: #777;
	text-align: center;
	margin-bottom: 0px;
}
#header-title h1 {
	font-size: 1.5em;
	margin-top: 8px;
	font-weight: bold;
}
#header-title h2 {
	font-size: 1.25em;
	margin-top: 0px;
}


@media (max-width: 768px) {
	#header-title {
		display: none;
	}
}

#np-logo {
	position: fixed;
	top: 5px;
	height: 60px;
	left: 8px;
}

#sib-logo {
	position: absolute;
	top: 8px;
	height: 35px;
	right: 15px;
}

/* MENU */
#bs-example-navbar-collapse-1 {
	margin-left: 20px;
	padding-right: 0;
}

#bs-example-navbar-collapse-1 .nav > li > a {
	color: #787878;
	padding-top: 0px;
	padding-bottom: 0px;
}

#bs-example-navbar-collapse-1 .nav > li > a:hover,
#bs-example-navbar-collapse-1 .nav > li > a:focus {
	background-color: #EBF1F5;
}

/* SECTIONS (commons properties)*/
div.info-section {
	height: 260px;
	padding: 0px 3%;
	color: #787878;
}

div.section {
	height: 240px;
	padding: 10px 4%;
	background-color: white;
	border: 1px solid #E3E3E3;
	box-shadow: 0px 2px 5px #BBBBBB;
}

div.section-header, div.section-content, div.section-footer {
	margin-left: auto;
	margin-right: auto;
}

div.section-header h2 {
	font-size: 1.2em;
	margin-top: 0;
	text-align: center;
	margin-bottom: 10px;
}

div.section-content, div.section-footer {
	font-size: 0.9em;
}

div.section-footer {
	position: absolute;
	bottom: 25px;
	text-align: center;
}

div.section ul {
	list-style-type: none;
}

div.section li {
	margin-bottom: 5px;
}
div.section ul li:before {
	content: "\00BB \0020";
	color: #428BCA;
	margin-left: -12px;
}

div.section p {
	font-size: 0.8em;
	margin: -3px 0 0 0;
}

div.section-content h3 {
	font-size: 1em;
	margin-top: 0;
	text-align: center;
	margin-bottom: 6px;
	color: #787878;
	line-height: 100%;
}

#release-section div.section-content {
	text-align: center;
}

img#release-img {
	max-width: 100%;
}
