  <!-- Footer
  ================================================== -->
<footer class="container-fluid small">
  <div class="row">
    <div class="col-lg-12">

      <div class="col-md-10 text-left">
        <a href="/copyright">&copy; 2015 SIB Swiss Institute of Bioinformatics</a>
        <span> | </span>
        <a href="/legal-disclaimer">Legal disclaimer</a>
        <span>|</span>
        <a href="https://github.com/calipho-sib/nextprot-ui/releases" target="_blank">Release 2015-08-01</a>
      </div>
      <div class="col-md-2 text-right">
        <!--<a ng-click="goToTop()">Back to the top</a>-->
      </div>

    </div>
  </div>
</footer>
