  <!-- Footer
  ================================================== -->
<footer class="container text-center small">
  <hr/>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/legal-disclaimer">Legal disclaimer</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/copyright">&copy; 2015 SIB</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="https://github.com/calipho-sib/nextprot-ui" target="_blank"><i class="icon-github"></i>For developers</a></li></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="https://github.com/calipho-sib/nextprot-ui/releases" target="_blank"><i class="icon-tag"></i>Version: <span np-build-version></span></a></li></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
        </ul>
      </div>
    </div>
  </div>
  <hr/>
</footer>
