<div id="stat-page-div" class="doc-content" ng-controller="ReleaseInfoCtrl">

    <div class="main">
<!--        <h1>neXtProt release statistics</h1>-->

        <div class="row">
            <div class="col-sm-10">
                <p>Data release: {{releaseInfo.databaseRelease}}</p>
                <p>Application release: {{releaseInfosFormatted}}</p>
            </div>
            <div class="btn-group col-sm-2">
                <button class="btn dropdown-toggle btn-default " data-toggle="dropdown">Change release&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="r in releaseInfo.databaseReleaseList">
                        <a ng-click="toggleDatabaseRelease({databaseRelease: r})">{{r}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <h2>Data statistics</h2>
        <div id="stat-data-div" class="row">
            <div class="col-sm-10">
                <div class="row release-row" ng-class="{'first':$first}"
                     ng-repeat="ts in releaseInfo.tagStatistics">
                    <div class="col-sm-3 text-uppercase bold">
                        <span class="category">{{ts.category}}</span>
                    </div>
                    <div class="col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                        <div class="row release-row" ng-class="{'last':$last}"
                             ng-repeat="s in ts.data">
                            <div class="col-sm-9 col-xs-12">
                                {{s.description}}<span ng-if="s.query"> - <a href="/proteins/search?mode=advanced&queryId={{s.query}}">turlututu</a></span>
                            </div>
                            <div class="col-sm-3 col-xs-12 bold text-right">
                                {{s.count}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
