<div id="stat-page-div" class="doc-content" ng-controller="ReleaseInfoCtrl">
    <div class="main">
        <h1>neXtProt release contents</h1>
        <p>Database release : {{releaseInfo.release.databaseRelease}}</p>
        <p>Application release : {{releaseInfo.release.apiRelease}}</p>

        <h2>Data Release</h2>
        <table class="table">
            <tbody>
            <tr ng-repeat="d in releaseInfo.release.datasources">
                <td><a href="{{d.url}}">{{d.source}}</a></td>
                <td>
                    <ul>
                        <li><span class="subtitle">DESCRIPTION:</span> {{d.description}}</li>
                        <li><span class="subtitle">RELEASE:</span> {{d.releaseVersion}}</li>
                        <li><span class="subtitle">LAST IMPORT:</span> {{d.lastImportDate}}</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
