<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="getting-started-section" class="section">
    <div class="section-header">
        <h2 class="np-pink">Getting started</h2>
    </div>
    <div class="section-content">
        <ul>
            <li><a href="/help/learn-human-proteome">&raquo; The human proteome</a></li>
            <li><a href="/help/learn-search">&raquo; Search</a><p>simple, advanced</p></li>
            <li><a href="/help/learn-explore">&raquo; Explore</a><p>simple, advanced</p></li>
            <li><a href="/help/learn-analyze">&raquo; Analyze</a><p>BLAST, list management</p></li>
            <li><a href="/help/learn-download">&raquo; Download</a><p>XML, FASTA, PEFF</p></li>
            <li><a href="/help/learn-programmatic-access">&raquo; Programmatic access</a><p>API, SPARQL</p></li>
        </ul>
    </div>
</div>

</body>
</html>