<div id="data-sources-section" class="section">
    <div class="section-header">
        <h2 class="np-color-pink">Data sources</h2>
    </div>
    <div class="section-content">
        <img id="source-np" class="source-img" src="img/np-logo.png" alt="neXtProt logo"/>

        <!-- Links are ordered anticlockwise -->
        <a href="http://www.uniprot.org/">
            <img id="source-uniprot" class="source-img" src="img/uniprot-logo.png" alt="UniProt logo"/>
        </a>

        <a href="http://www.bgee.org/">
            <img id="source-bgee" class="source-img" src="img/bgee-logo.png" alt="Bgee logo"/>
        </a>

        <a href="http://www.peptideatlas.org/">
            <img id="source-peptide-atlas" class="source-img" src="img/peptide-atlas-logo.png" alt="PeptideAtlas logo"/>
        </a>

        <!--<a href="https://www.dkfz.de/en/index.html">-->
            <!--<img id="source-dkfz" class="source-img" src="img/dkfz-logo.gif" alt="Deutsches Krebsforschungszentrum logo"/>-->
        <!--</a>-->

        <a href="http://www.proteinatlas.org/">
            <img id="source-hpa" class="source-img" src="img/hpa-logo.png" alt="Human Protein Atlas logo"/>
        </a>

        <a href="http://www.ebi.ac.uk/intact/">
            <img id="source-intact" class="source-img" src="img/intact-logo.png" alt="IntAct logo"/>
        </a>

        <a href="http://www.srmatlas.org/">
            <img id="source-srm-atlas" class="source-img" src="img/srm-atlas-logo.png" alt="SRMAtlas logo"/>
        </a>

        <a href="http://www.ebi.ac.uk/GOA">
            <p id="source-uniprot-goa">UniProt-GOA</p>
        </a>

        <!--<a href="http://www.weizmann.ac.il/mcb/UriAlon/DynamProt/">-->
            <!--<img id="source-dyp" class="source-img" src="img/dyp-logo.png" alt="Dynamics Proteomics logo"/>-->
        <!--</a>-->

        <a href="http://cancer.sanger.ac.uk/cosmic">
            <img id="source-cosmic" class="source-img" src="img/cosmic-logo.png" alt="COSMIC logo"/>
        </a>
    </div>
    <div class="section-footer">
        <a href="/help/release-contents">&raquo; Release contents</a>
    </div>
</div>
