
<div id="news-section" class="section" ng-controller="NewsCtrl">
    <div class="section-header">
        <h2 class="np-color-pink">News</h2>
        <!-- TODO Add twitter, facebook? and google+? links -->
    </div>
    <div class="section-content">
        <!-- TODO To be manage with GitHub -->
        <ul>

            <li ng-repeat="n in news | limitTo:3">
                <a href="{{n.url}}">{{n.title}}</a>
                <p>{{n.publicationDateFormatted}}</p>
            </li>

        </ul>
    </div>
    <div class="section-footer">

        <a href="/news">&raquo; News archive</a>
    </div>
</div>