
<div id="news-section" class="section" ng-controller="NewsCtrl">
    <div class="section-header">
        <h2 class="np-color-pink">
            News
            <a class="social-link" title="See @nextprot_news account" target="_blank"
               href="https://twitter.com/nextprot_news">
                <img alt="Twitter logo" src="img/twitter.png">
            </a>
            <!-- TODO Add facebook? and google+? links -->
        </h2>
    </div>
    <div class="section-content">
        <ul>

            <li ng-repeat="n in news | limitTo:3">
                <a href="news/{{n.url}}">
                    <span ng-if="n.title.length > 40">{{n.title.substr(0,37)}}...</span>
                    <span ng-if="n.title.length <= 40">{{n.title}}</span>
                </a>
                <p>{{n.publicationDateFormatted}}</p>
            </li>

        </ul>
    </div>
    <div class="section-footer">

        <a ng-repeat="n in news | limitTo:1" href="news/{{n.url}}">&raquo; News archive</a>
    </div>
</div>