<div id="getting-started-section" class="section">
    <div class="section-header">
        <h2 class="np-color-pink"><span class="fa fa-play"></span>Getting started</h2>
    </div>
    <div class="section-content">
        <ul>
            <li ><a href="/about/human-proteome" title="The human proteome">The human proteome</a></li>
            <li ><a href="/help/simple-search" >Simple search</a></li>
            <li ><a href="/help/advanced-search" >Advanced search (SPARQL)</a></li>
            <li><a href="/help/tools">Analyze</a><p>BLAST, list management, peptide uniqueness checker</p></li>
            <li><a href="/help/download">Download</a><p>XML, FASTA, PEFF</p></li>
            <li><a href="/help/technical-corner">Technical corner</a><p>Viewers, API, SPARQL</p></li>
        </ul>
    </div>
    <!-- Init the tooltip -->
    <script defer>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
</div>
