<div id="release-section" class="section" ng-controller="ReleaseInfoCtrl">
    <div class="section-header">
        <h2 class="np-color-pink">Release {{releaseInfo.databaseRelease}}</h2>
    </div>
    <div class="section-content">
        <!-- TODO Add Random pie chart between 2 random graphic:
            1) Histogram with a number of % values: % entries with
                GO function / mol. process, % entries with 3D structure,
                % entries with proteomics, expression coverage, subcell location
            2) the PE graphic for HUPO release
        -->
        <h3>Protein existence in neXtProt</h3>
            <img id="release-img" src="img/prot_existence_201601.png"
                 alt="Protein existence in neXtProt image">
    </div>
    <div class="section-footer">
        <!-- Temporary fix -->
        <!-- <a href="/release-statistics">&raquo; Release statistics</a> -->
        <a href="https://www.nextprot.org/db/statistics/release?viewas=numbers" target="_blank">&raquo; Release statistics</a>
    </div>
</div>
