<div id="release-section" class="section">
    <div class="section-header">
        <!-- TODO Manage release number with API -->
        <h2 class="np-color-pink">Release 2015-05-01</h2>
    </div>
    <div class="section-content">
        <!-- TODO Add Random pie chart between 2 random graphic:
            1) Histogram with a number of % values: % entries with
                GO function / mol. process, % entries with 3D structure,
                % entries with proteomics, expression coverage, subcell location
            2) the PE graphic for HUPO release
        -->
    </div>
    <div class="section-footer">
        <a href="/help/release-statistics">&raquo; Release statistics</a>
    </div>
</div>
