<div id="release-section" class="section" ng-controller="ReleaseInfoCtrl">
    <div class="section-header">
        <h2 class="np-color-pink"><span class="fa fa-tag"></span>Release {{releaseInfo.databaseRelease}}</h2>
    </div>
    <div class="section-content" ng-controller="hpCtrl">
        <!-- TODO Add Random pie chart between 2 random graphic:
            1) Histogram with a number of % values: % entries with
                GO function / mol. process, % entries with 3D structure,
                % entries with proteomics, expression coverage, subcell location
            2) the PE graphic for HUPO release
        -->
        <h3>
            <a href="about/protein-existence" title="Protein existence viewer">
            Protein existence in neXtProt</a>
        </h3>
            <div id="release-chart"></div>
<!--            <div id="hp-chart" style="width:300px;"></div>-->
<!--        <hc-pie-chart data="pieData">Placeholder for pie chart</hc-pie-chart>-->
<!--        <img id="release-img" src="img/prot_existence_201601.png" alt="Protein existence in neXtProt image">-->

    </div>
    <div class="section-footer">
        <!-- Temporary fix -->
        <!-- <a href="/release-statistics">&raquo; Release statistics</a> -->
        <a class="btn btn-default btn-xs" href="about/statistics">Release statistics</a>
<!--        <a href="release/statistics" target="_blank">&raquo; Release statistics</a>-->
    </div>
</div>
