<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="news-section" class="section">
    <div class="section-header">
        <h2 class="np-pink">News</h2>
        <!-- TODO Add twitter, facebook? and google+? links -->
    </div>
    <div class="section-content">
        <!-- TODO To be manage with GitHub -->
        <ul>

            <li>
                <a href="/news/2015-05-12">&raquo; May 2015 neXtProt release</a>
                <p>May 12, 2015</p>
            </li>
            <li>
                <a href="/news/2015-03-30">&raquo; Pascale Gaudet, neXtProt scientific manager, describes neXtProt</a>
                <p>March 30, 2015</p>
            </li>

            <li>
                <a href="/news/2015-03-30">&raquo; January 2015 neXtProt release</a>
                <p>January 28, 2015</p>
            </li>

        </ul>
    </div>
    <div class="section-footer">

        <a href="/help/news-archive">&raquo; News archive</a>
    </div>
</div>
</body>
</html>