<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Save user query</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name: </label>
            <div class="controls">
                <input id="inputName" type="text" placeholder="Name..." ng-model="Advanced.selectedQuery.title" focus>
            </div>
        </div>

        <!-- Description -->
        <div class="control-group">
            <div class="control-label" for="inputDescription">
                <label>Description: </label>
            </div>
            <div class="controls">
                <textarea rows="2" id="inputDescription" type="text" placeholder="Description..." ng-model="Advanced.selectedQuery.description">
                </textarea>
            </div>
        </div>

        <!-- Sparql -->
        <div class="control-group">
                <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="Advanced.selectedQuery.sparql"></ui-codemirror>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input ng-model="Advanced.selectedQuery.published" type="checkbox">Published in the community repository
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="createOrReplaceUserQuery(dismiss(), 'action')">Save</button>
    <button class="btn" ng-click="modalDissmiss(dismiss())">Cancel</button>
</div>