<!--Advanced mode -->
<div ng-show="isAdvancedMode()" ng-controller="AdvancedCtrl">
    <div class="span2"/>
    <div class="span5 fade-in fade-out" id="sparql-small-div">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span11">
                    <div class="sparql-small-box">
                        <div style="height: inherit;"
                             ui-ace="{useWrapMode : false, showGutter: false, theme:'nextprot', mode: 'sparql', onLoad: aceLoaded, onChange: aceChanged}"
                             ng-model="Advanced.currentSparql"></div>
                    </div>
                </div>
                <div class="span1">
                    <button class="btn" type="button" ng-click="mode('simple')"
                            style="margin-bottom: 10px"><i
                            class="icon-caret-up ajax-end"></i></button>
                    <button class="btn" style="margin-bottom: 10px" type="button"
                            ng-click="Advanced.clearCurrentQuery()"><i
                            class="icon-remove ajax-end"></i></button>
                    <button class="btn btn-primary dropdown" type="submit"><i
                            class="icon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="span4 fade-in fade-out" ng-show="Advanced.showHelp">

        <!--filter-->
        <input ng-model="filterQuery" placeholder="search in {{Advanced.currentRepository.title}} repository">
        <!--Selectable repositories-->
        <div class="btn-group">
            <button  data-toggle="tooltip" title="{{rep.tooltip}}" class="btn {{(Advanced.currentRepository == rep) ? 'btn-inverse' : ''}}"
                     ng-repeat="rep in Advanced.repositories | orderBy:position:reverse"
                     type="button" ng-click="showRepository(rep)"><i class="{{rep.icon}}"></i></button>
        </div>

        <button class="btn pull-right" type="button" ng-click="Advanced.clearCurrentQuery();"
                bs-modal="'partials/advanced/advanced-save-modal.html'"><i class="icon-file"></i></button>

        <button type="button" class="close" style="padding-right: 5px" ng-click="showHelp=false">×</button>

        <div class="row"></div>
        <div class="row">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="query in Advanced.queries | filter:filterQuery | orderBy:'title'">
                    <td>
                        <i class="{{query.published == 'Y' ? ' icon-globe' : ''}}"></i>
                    </td>
                    <td><a href="#" ng-click="appendSparqlToCurrentQuery(query)">{{query.title}} [{{query.username}}]</a></td>

                    <!--Don't show edit and remove button if the user is not the owner-->
                    <td ng-if="hasPrivilegesToEdit(query)">
                        <button class="btn btn-mini pull-right" type="button" ng-click="Advanced.setCurrentQuery(query)"
                                bs-modal="'partials/advanced/advanced-save-modal.html'"><i
                                class="icon-edit"></i></button>
                    </td>
                    <td ng-if="hasPrivilegesToEdit(query)">
                        <button class="btn btn-mini pull-right" type="button" ng-click="deleteAdvancedQuery(query)"><i
                                class="icon-remove"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="span1"/>
</div>
