<div ng-controller="AdvancedCtrl">
    <div class="container">

        <h2>Advanced queries</h2>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                Select the query repository
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <a ng-click="advancedLists({private:'proteins'})">Tutorial repository</a>
                <a ng-click="advancedLists({tutorial:'proteins'})">Public repository</a>
                <a ng-click="advancedLists({public:'proteins'})">Private repository</a>
            </ul>
        </div>
        Search: <input ng-model="query">
        <div class="row">

            <div class="span1"/>

            <div class="span5">
                <div class="story" ng-repeat="story in stories | filter:query" ng-click="setCurrentStory(story)">
                    <h4>{{story.title}} [{{story.author}}]</h4>
                </div>
            </div>

            <div class="span6">
                <form class="form-horizontal">
                    <div class="control-group">
                        <div class="controls"/>
                            <textarea class="span12" id="inputDescription" placeholder="SPARQL Query" rows="10" cols="200000"  ng-model="currentStory.sparql"></textarea>
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">
                                <textarea id="inputDescription" placeholder="Description" rows="3" ng-model="currentStory.description"> </textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

