<div ng-controller="AdvancedCtrl">
    <div class="container">
        <h2>Advanced queries</h2>
        <div class="row">
            <input ng-model="query" placeholder="text filter">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown"> Select query repository <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="">NextProt team (tutorial)</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Private</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown"> select category <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">Function</a>
                    </li>
                    <li>
                        <a href="">Medical</a>
                    </li>
                    <li>
                        <a href="">Expression</a>
                    </li>
                    <li>
                        <a href="">...</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="story" ng-repeat="story in stories | filter:query" ng-click="setCurrentStory(story)">
                            <a ref >{{story.title}}</a>
                        </li>
                  </ul>
                <span class="label label-info">You have got now the super power of the advanced query!</span>
                <img src="http://static.comicvine.com/uploads/original/11111/111111435/3445290-2485086653-9038-.jpg" width="75px" onclick="alert('Don t touch me!')">
            </div>
            <div class="span6">
                <p class="text-info" ng-model="currentStory.author">{{ currentStory.author }}</p>
                <textarea class="span12" rows="2" ng-model="prefix"></textarea>
                <textarea class="span12" id="inputDescription" placeholder="<= Choose a query in the left <=" rows="10" cols="200000" ng-model="currentStory.sparql"></textarea>
                <textarea class="span12" rows="1" ng-model="suffix"></textarea>
                <button type="submit" class="btn">Publish (submit to review)</button>
                <button type="submit" class="btn">Save privately</button>
                <button type="submit" class="btn btn-primary" ng-click="doAdvanceSearch()">Advanced Search</button>
            </div>
        </div>
    </div>
    <div class="hero-unit">
        <flash:messages></flash:messages>
        <ul>
            <li ng-repeat="r in results">
                <p>{{r}}</p>
            </li>
        </ul>
    </div>
</div>
