<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Select from repository</h3>
</div>
<div class="modal-body" ng-controller="AdvancedCtrl">
    <form class="form-horizontal">
        <input ng-model="filterQuery" placeholder="text filter">

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                {{repository}}
                <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="showNextprotRepository()">{{Search.config.widgets.repositories.nextprotRep}}</a>
                </li>
                <li><a href="" ng-click="showPrivateRepository()">{{Search.config.widgets.repositories.privateRep}}</a>
                </li>
                <li><a href="" ng-click="showPublicRepository()">{{Search.config.widgets.repositories.publicRep}}</a>
                </li>
            </ul>
        </div>
        <div class="row">
        </div>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="query in queries | filter:filterQuery">
                <td>{{query.username}}</td>
                <td><a href="" ng-click="selectUserQueryFromModal(query.sparql); dismiss();">{{query.title}}</a></td>
            </tr>
            </tbody>
        </table>

    </form>
</div>