<div class="row offset1" ng-controller="AdvancedCtrl">
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix-top">
                <li ng-repeat="rh in Advanced.rdfHelp | filter : Advanced.rdfHelp.triples.predicate"><a href="rdf-help#{{rh.typeName}}"><i
                        class="icon-chevron-right"></i>{{(rh.rdfsLabel) ? rh.rdfsLabel : rh.typeName.replace(':','')}}
                    ({{rh.instanceCount}})</a>
                </li>
            </ul>
        </div>
        <div class="span8">
            <div class="page-header">
                <h1>RDF Help</h1>
                <input ng-model="Advanced.rdfHelp.triples.predicate" placeholder="filter on predicate">

            </div>
            <div ng-repeat="rh in Advanced.rdfHelp | filter : Advanced.rdfHelp.triples.predicate">
                <section id="{{rh.typeName}}">
                    <h2>{{(rh.rdfsLabel) ? rh.rdfsLabel : rh.typeName.replace(':','')}} <span class="label label-info">{{rh.instanceCount}}</span>
                    </h2>

                    <p>{{rh.rdfsComment}}</p>

                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span4">
                                <div ng-repeat="parent in rh.parentTriples | filter : Advanced.rdfHelp.triples.predicate">
                                    <p><code><a class="text-success">{{parent.subjectType}}</a></code>&nbsp;<code
                                            class="text-warning">{{parent.predicate}}</code></p>
                                </div>
                            </div>
                            <div class="span2">
                                <p><code><a class="text-success"
                                            href="rdf-help#{{rh.typeName}}">{{rh.typeName}}</a></code>
                                </p>
                            </div>
                            <div class="span6">
                                <div ng-repeat="t in rh.triples | filter : Advanced.rdfHelp.triples.predicate">
                                    <p>
                                        <code class="text-warning">{{t.predicate}}</code>
                                        <code><a class="text-success"
                                                 href="rdf-help#{{t.objectType}}">{{t.objectType}}</a></code>
                                        &nbsp;
                                        <span class="label label-info">{{t.tripleCount}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bs-docs-example">
                        <div ng-repeat="t in rh.triples | filter : Advanced.rdfHelp.triples.predicate">
                            <code class="text-info">{{t.tripleSample}}</code>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>