<div class="row offset1" ng-controller="AdvancedCtrl">
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix-top">
                <input ng-model="filterRdfQuery" placeholder="filter on some criteria">
                <li ng-repeat="rh in Advanced.rdfHelp | filter : filterRdfQuery"><a href="rdf-help#{{rh.typeName}}"><i
                        class="icon-chevron-right"></i>{{(rh.rdfsLabel) ? rh.rdfsLabel : rh.typeName.replace(':','')}}
                    ({{rh.instanceCount}})</a>
                </li>
            </ul>
        </div>
        <div class="span8">
                <div class="page-header">
                    <h1>RDF Help</h1>
                </div>
                <div ng-repeat="rh in Advanced.rdfHelp | filter : filterRdfQuery">
                    <section id="{{rh.typeName}}">
                    <h2>{{(rh.rdfsLabel) ? rh.rdfsLabel : rh.typeName.replace(':','')}} <span class="label label-info">{{rh.instanceCount}}</span>
                    </h2>
                    <p>{{rh.rdfsComment}}</p>
                    <p>Type: <a href="rdf-help#{{rh.typeName}}">{{rh.typeName}}</a></p>
                    <p>Parents: <code><a class="text-success">Entry</a></code>&nbsp;<code class="text-warning">classifiedWith</code>,&nbsp;
                        <code><a class="text-success">CatalyticActivity</a></code>&nbsp;<code class="text-warning">in</code></p>

                    <div class="bs-docs-example">
                        <ul ng-repeat="t in rh.triples">
                            <li>
                                <p>Triplet:
                                    <code><a class="text-success" href="rdf-help#{{t.subjectType}}">{{t.subjectType}}</a></code>
                                    <code class="text-warning">{{t.predicate}}</code>
                                    <code><a class="text-success" href="rdf-help#{{t.objectType}}">{{t.objectType}}</a></code>
                                    &nbsp;
                                    <span class="label label-info">{{t.tripleCount}}</span>
                                <p>
                                <p>Example: <code class="text-info">{{t.tripleSample}}</code></p>
                            </li>
                        </ul>
                    </div>
                    </section>
                </div>
        </div>
    </div>
</div>