<div class="row offset1" ng-controller="AdvancedCtrl">
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix-top">
                <input ng-model="filterRdfQuery" placeholder="filter on some criteria">
                <li ng-repeat="rh in Advanced.rdfHelp | filter : filterRdfQuery"><a href="rdf-help#{{rh.rdfsLabel}}"><i
                        class="icon-chevron-right"></i>{{(rh.rdfsLabel) ? rh.rdfsLabel : rh.typeName.replace(':','')}}
                    ({{rh.instanceCount}})</a>
                </li>
            </ul>
        </div>
        <div class="span8">
            <section id="typography">
                <div class="page-header">
                    <h1>RDF Help</h1>
                </div>
                <div ng-repeat="rh in Advanced.rdfHelp | filter : filterRdfQuery">
                    <h2>{{(rh.rdfsLabel) ? rh.rdfsLabel : rh.typeName.replace(':','')}} <span class="label label-info">{{rh.instanceCount}}</span>
                    </h2>

                    <p>{{rh.rdfsComment}}</p>

                    <p>Type: <a href="#">{{rh.typeName}}</a></p>

                    <div class="bs-docs-example">
                        <ul ng-repeat="t in rh.triples">
                            <li>
                                <p>Triplet: <code class="text-success">{{t.subjectType}}</code>
                                    <code class="text-alert">{{t.predicate}}</code>
                                    <code class="text-warning">{{t.objectType}}</code>
                                    &nbsp;
                                    <span class="label label-info">{{t.tripleCount}}</span>

                                <p>

                                <p>Example: <code class="text-info">{{t.tripleSample}}</code></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>