<div class="row offset1" ng-controller="AdvancedCtrl">
    <div class="row">
        <div class="span12">
            <div ng-repeat="rh in Advanced.rdfHelp | filter : Advanced.rdfHelp.triples.predicate">
                <section ng-show="showSection(rh.typeName)" id="{{rh.typeName}}" class="fade-out-left fade-in-left">
                    <h2>{{(rh.rdfsLabel) ? rh.rdfsLabel : rh.typeName.replace(':','')}} <span class="label label-info">{{rh.instanceCount}}</span></h2>
                    <p>{{rh.rdfsComment}}</p>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span1">
                                <button class="btn" type="button" ng-show="showBackButton()" ng-click="navigateBack()"><i
                                        class="icon-arrow-left ajax-end"></i></button>
                            </div>
                            <!-- Main entity -->
                            <div class="span2">
                                <a class="text-success">{{rh.typeName}}</a>
                            </div>
                            <div class="span2">
                                &nbsp;
                            </div>
                            <!-- Direct triplets (children) -->
                            <div class="span6">
                                <div ng-repeat="t in rh.triples | filter : Advanced.rdfHelp.triples.predicate">
                                    <p>
                                        <code class="text-warning">{{t.predicate}}</code>
                                        <code><a ng-click="navigateToTriplet(t)" class="text-success" href="">{{t.objectType}}</a></code>
                                        &nbsp;
                                        <span class="label label-info">{{t.tripleCount}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>