<div class="row offset1" ng-controller="UserCtrl">
    <div class="row">
        <div class="span3">
            <ul>
                <li>Profile</li>
                <li>API applications</li>
            </ul>
        </div>
        <div class="span8">
            <p>Documentation about nextprot API methods and how to use them.</p>
            <p>Application name:</p><input value="some nice application"></input>
            <p>Organization:</p>
            <p>Application url:</p>
            <p>Application description:</p>
            <p>API Key:</p>
        </div>
    </div>
</div>