<ul class="nav nav-list" style="margin: 20px;">
	<li class="nav-header">{{user.profile.name || user.profile.email}}</li>
	<!--<li ng-class="navClass('user')"></i><a href="/user"><i class="glyphicon icon-home"></i>&nbsp;My profile</a></li>-->
	<li ng-class="navClass('user/protein/lists')"><a href="/user/protein/lists"><i class="icon-th-list"></i>&nbsp;My protein lists</a></li>
	<li ng-class="navClass('user/queries')"><a href="/user/queries"><i class="icon-star"></i>&nbsp;My queries</a></li>
	<!--<li ng-class="navClass('user/applications')"></i><a href="/user/applications"><i class="icon-road"></i>&nbsp;My applications</a></li>-->
</ul>