<div ng-controller="ListCtrl"  ng-init="loadMyLists()"  class="row">
    <div class="col-xs-3 col-sm-2 nopadding ">
        <div ng-include="'partials/user/user-nav-bar.html'"></div>
        <div ng-include="'partials/user/user-protein-lists-sidebar.html'"></div>
    </div>
    <div class="col-xs-9 col-sm-10">
        <h4>My protein lists</h4>


        <!--filter-->
        <div class="input-group col-sm-4" style="margin-bottom: 20px;margin-top: 20px;">
            <input type="text"  ng-model="filterUserProteinLists" class="form-control" placeholder="search in your lists">
            <span class="input-group-addon"><i class="icon-filter"></i></span>
        </div>

        <!--                                 -->
        <!-- Table to show user lists        -->
        <!--                                 -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-show="showCombine"></th>
                <th>List name</th>
                <th>Description</th>
                <th>#</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="list in lists | filter:filterUserProteinLists | orderBy:'name'">
                <td class="col-md-1" ng-show="showCombine"><input type="checkbox"></td>
                <td class="col-md-6"><a href="proteins/search?listId={{list.publicId}}">{{list.name}}</a></td>
                <td class="col-md-3">{{list.description}}</td>
                <td class="col-md-1">{{list.entriesCount}}</td>
                <td class="col-md-1">
                    <div class="btn-group">
                        <a class="pull-left" title="Export list accessions" ng-href="{{getListExportUrl(list)}}" ng-click="gaTrackDownloadList()"><button class="btn btn-default btn-xs"><i class="icon-arrow-down"></i></button></a>
                        <button class="btn btn-default btn-xs" type="button"
                                bs-modal="'partials/user/user-protein-lists-modal.html'"
                                ng-click="launchModal($index, 'edit')"><i class="icon-edit"></i></button>
                        <button class="btn btn-default btn-xs" type="button" ng-click="delete(list)">
                            <i class="icon-remove"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <h5>Combine your lists:</h5>
        <form class="form-inline" ng-submit="launchModal(0, 'create')">
            <select class=" form-control" ng-model="combination.first" ng-options="i.name for i in options.first"
                    style="min-width:25%"></select>

            <select class="col-xs-2 form-control" ng-model="combination.op" ng-options="i for i in operators"></select>
            <button class="btn"
                    ng-show="combination.op == 'NOT IN' && combination.first != null && combination.second != null"
                    ng-click="switchCombine()"><i class="icon-resize-horizontal"></i></button>
            <select class="col-xs-3 form-control" ng-model="combination.second"
                    ng-options="i.name for i in options.second" style="min-width:25%"></select>

            <button class="btn btn-primary"
                    ng-disabled="combination.first == null; combination.second == null"
                    bs-modal="'partials/user/user-protein-lists-modal.html'" ng-click="launchModal(0,'create')"
                    backdrop="false">Create
            </button>
        </form>
    </div>
</div>
