<div ng-controller="QueryRepositoryCtrl" ng-init="loadQueries()" class="row">
    <div class="col-xs-3 col-sm-2 nopadding">
        <div ng-include="'partials/user/user-nav-bar.html'"></div>
        <div ng-include="'partials/user/user-queries-sidebar.html'"></div>
    </div>
    <div class="col-xs-9 col-sm-10">
        <h4>My queries</h4>

        <!--filter-->
        <div class="input-group col-sm-4" style="margin-bottom: 20px;margin-top: 20px;">
            <input type="text" ng-model="filterQuery" class="form-control" placeholder="search in your queries">
            <span class="input-group-addon"><i class="icon-filter"></i></span>
        </div>


        <!--                                 -->
        <!-- Table to show queries           -->
        <!--                                 -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Query name</th>
                <th>Query description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="query in repository.queries | filterMyQueries | filter:filterQuery | orderBy:userQueryId">
                <td class="col-md-5"><a ng-href="proteins/search?mode=advanced&queryId={{query.publicId}}">{{query.title}}</a> <a style="font-size: 8px" target="_blank" ng-href="http://snorql.nextprot.org/?query={{query.sparql}}">(snorql)</a> </td>
                <td class="col-md-5">{{query.description}}</td>
                <td class="col-md-2" style="width: 100%">
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs" type="button"
                                bs-modal="'partials/user/user-queries-save-modal.html'" ng-click="setModalQuery(query, 'edit')"><i class="icon-edit"></i></button>
                        <button class="btn btn-default btn-xs" type="button" ng-click="deleteUserQuery(query)"><i class="icon-remove"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
