<div class="row" ng-controller="ListCreateCtrl">

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            transform: translate(-300px, 0) scale(4);
            font-size: 23px;
            direction: ltr;
            cursor: pointer;
        }
    </style>

    <div class="col-xs-3 col-sm-2 nopadding">
        <div ng-include="'partials/user/user-nav-bar.html'"></div>
        <div ng-include="'partials/user/user-protein-lists-sidebar.html'"></div>
    </div>

    <div class="col-xs-8 col-sm-9">
        <div>
            <h3>Create protein list
            </h3>
        </div>
        <form class="form-horizontal">
            <div style="text-align: right">
                <a href="/help/protein-lists" target="_blank" class="btn btn-info">
                    Help
                </a>
            </div>
            <div class="form-group">
                <label>List name:</label>
                <input type="text" ng-model="listName" class="form-control" placeholder="eg: my kinases" ng-disabled="user.isAnonymous()">
            </div>

            <div class="form-group">
                <label>Description:</label>
                <input type="text" ng-model="listDescription" class="form-control" ng-disabled="user.isAnonymous()">
            </div>

            <div class="form-group">
                <label>List of accession numbers: </label>

                <div class="form-group">
                    <div style="text-align : center">
                        <p style="display: inline-block">
                            <input style="display: inline-block" type="file" multiple ng-model="files" file-change accept="text/plain">
                        </p>
                    </div>

                </div>

                <textarea placeholder="Enter a list of entry accession numbers from neXtProt or Uniprot separated with commas, spaces or carriage returns ..." rows="5" ng-model="inputAccessions" class="form-control" ng-disabled="user.isAnonymous() || files.length>0"></textarea>
                <div style="text-align:right">
                    <button type="button" class="btn btn-primary" ng-click="createList(listName, listDescription)" ng-disabled="!isCreatable()">Create</button>
                    <button class="btn" ng-click="clearForm()" ng-disabled="!isClearable()">Clear</button>
                </div>
            </div>

            <div class="form-group panel panel-default" ng-if="files.length>0">
                <div class="panel-heading panel-heading-sm">
                    <h4 class="panel-title">File(s) to upload <span class="badge">{{files.length}}</span></h4>
                </div>
                <div class="panel-body panel-body-sm">
                    <ul class="list-group scrollable" style="height: 150px; overflow-y: auto">
                        <li class="list-group-item" ng-repeat="file in files">{{file.name}}<span class="btn fa fa-remove" aria-hidden="false" ng-click="removeUploadFile($index)"></span></li>
                    </ul>
                </div>
            </div>


        </form>
    </div>
</div>