<div ng-controller="ListCtrl" class="row">
	<div class="col-xs-3 col-sm-2 nopadding ">
    <div ng-include="'partials/user/user-nav-bar.html'"></div>
    <div ng-include="'partials/user/user-protein-lists-sidebar.html'" ></div>
	</div>
	<div class="col-xs-9 col-sm-10">
    <h4>My proteins lists</h4>
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th ng-show="showCombine"></th>
					<th>Name</th>
					<th>Description</th>
					<th># Entries</th>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="list in lists">
					<td ng-show="showCombine"><input type="checkbox"></td>
					<td><a href="proteins/search?list={{list.name}}">{{list.name}}</a></td>
					<td>{{list.description}}</td>
					<td>{{list.accessions}}</td>
					<td style="width:100px; height:25px">
						<div ng-controller="ExportCtrl">
                                <button class="btn btn-mini" bs-modal="'partials/export/export.html'" ng-click="setListToExport(list)"><i class="icon-arrow-down"></i></button>
							<button class="btn btn-mini" bs-modal="'partials/user/user-protein-lists-modal.html'" ng-click="launchModal($index, 'edit')"><i class="icon-edit"></i></button>
                                <button class="btn btn-mini" ng-click="delete($index)">
                                    <i class="icon-remove"></i>
                                </button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<form class="form-inline" ng-submit="launchModal(0, 'create')">
			<select class=" form-control" ng-model="combination.first" ng-options="i.name for i in options.first" style="min-width:25%"></select>
			
			<select class="col-xs-2 form-control" ng-model="combination.op" ng-options="i for i in operators"></select>
			<button class="btn" ng-show="combination.op == 'NOT IN' && combination.first != null && combination.second != null" ng-click="switchCombine()"><i class="icon-resize-horizontal"></i></button>
			<select class="col-xs-3 form-control" ng-model="combination.second" ng-options="i.name for i in options.second" style="min-width:25%"></select>
			
			<button class="btn btn-primary" 
					ng-disabled="combination.first == null; combination.second == null" 
					bs-modal="'partials/user/user-protein-lists-modal.html'" ng-click="launchModal(0,'create')"
					backdrop="false" >Create</button>
		</form>
		
	</div>
</div>
