<div class="container">
	
	<style>
		.fileinput-button 
		{
			position: relative;
			overflow: hidden;
		}
		
		.fileinput-button input 
		{
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			opacity: 0;
			filter: alpha(opacity=0);
			transform: translate(-300px, 0) scale(4);
			font-size: 23px;
			direction: ltr;
			cursor: pointer;
		}
	
	</style>
	
	<div class="row">
		<div class="col-xs-3" ng-include="'partials/user/user-protein-lists-sidebar.html'"></div>
		<div class="col-xs-9" ng-controller="ListCreateCtrl">
			<h3>Create a protein list from accession numbers</h3>
			
			<label>Enter list of accession numbers: </label>
			<textarea rows="5" ng-model="inputAccessions"></textarea>
			
			<p>Or a file</p>
	
			<div class="control-group">
		        <span class="btn btn-success fileinput-button">
		           	<i class="icon-plus icon-white"></i>
<!-- 		           	<input type="file" name="file" data-url="home/upload" multiple upload><span>Add files...</span> -->
					<input type="file" multiple ng-model="files" file-change>
		        </span>
			</div>
			
			<form class="form">
				<input type="text" placeholder="Name..." ng-model="listName">
				<input type="text" placeholder="Description..." ng-model="listDescription">
				<button type="button" class="btn btn-primary" ng-click="createList(listName, listDescription)">Create</button>
			</form>
			
			<div>
	    		<span ng-show="!files.length">No files selected</span>
	    		<span ng-show="files.length"><b>Uploading: </b></span>
	    		<ul>
	        		<li ng-repeat="file in files">{{file.name}}</li>
	    		</ul>
			</div>
	
		</div>
	</div>
</div>