<div class="row offset1" ng-controller="UserCtrl">
    <div class="container-fluid" style="margin-top: 50px">
        <div class="row-fluid">
            <div class="span2">
                <div ng-include="'partials/user/user-nav-bar.html'"></div>
            </div>
            <div class="span10">
                <h4>My Profile</h4>
                <div class="row">
                    <div class="control-group">
                        <label class="control-label">Name: {{auth.profile.name}}</label>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email: {{auth.profile.email}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

