<div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  	<h4 class="text-center">{{modal.options[modal.type].title}} List</h4>
		</div>
		<div class="modal-body">
			<form class="">
				<div class="form-group">
					<label class="" for="inputName">Name: </label>
					<div class="controls">
						<input id="inputName" type="text" placeholder="Name..." ng-model="selected.name" focus class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="" for="inputDescription">
						<label>Description: </label>
					</div>
					<div class="controls">
						<input id="inputDescription" type="text" placeholder="Description..." ng-model="selected.description" class="form-control">
					</div>
				</div>		
				
			</form>
		</div>
		<div class="modal-footer">
			<button id="saveAsListButton" class="btn btn-primary" ng-click="saveModal(dismiss(), 'action')" ng-disabled="!selected.name">Save</button>
			<button class="btn" ng-click="modalDissmiss(dismiss())">Cancel</button>
		</div>
	</div>
</div>