<!--                                                                  -->
<!--  HELP / REPOSITORY                                               -->
<div class="modal-dialog fade-out fade-in  repository-modal" ng-show="repository.show">
    <div class="modal-content">
      <div class="modal-header " ng-show="!repository.selectedQuery">
          <button type="button" class="close" ng-click="repository.show=false">×</button>


          <!--filter tag-->
          <div class="input-group filter-search  has-feedback">
              <div class="input-group-btn ">
                  <button type="button" class="btn btn-default  ng-binding" data-toggle="dropdown">{{(repository.filterTag == null) ? "Tags"  : repository.filterTag}} <span class="caret"></span></button>
                  <ul class="dropdown-menu scrollable-menu" role="menu">
                      <li ng-click="resetFilters(); repository.filterTag=null"><a href="#">Clear filter</a></li>
                      <li class="divider"></li>
                      <li> <a ng-click="setFilterTag('My queries')" href="">My queries</a></li>
                      <li class="divider"></li>
                      <li ng-repeat="tag in repository.queriesTags|orderBy" ng-click="setFilterTag(tag)"><a href="" >{{tag}}</a></li>
                  </ul>
              </div><!-- /btn-group -->
              <input type="text" ng-model="filterQuery" placeholder="search in {{(repository.queries | containsTag:repository.filterTag | filter:filterQuery).length}} queries (ex: liver)" class="form-control " style="width:80%">
              <!-- "Create new" only if there is no query selected -->
              <button ng-show="!repository.selectedQuery" class="btn btn-default pull-right " style="margin-right: 10px" type="button" ng-click="showNewQueryPanel();">New Query</button>
          </div>

        </div>

        <!-- HEADER QUERY TITLE  -->
      <div class="modal-header " ng-show="repository.selectedQuery">



          <div class="input-group col-xs-12">

                 <!-- "Back" button showed only if there is a query selected -->
                  <button ng-show="repository.selectedQuery" class="btn btn-default pull-left  ng-binding"
                          type="button"
                          title="Back to query list" alt="Back to query list"
                          ng-click="clearSelectedQuery();">
                      <i class="icon-caret-left"></i>
                  </button>

                  <!-- Title when query is editable  -->
                  <input ng-show="repository.selectedQuery.isEditable()" type="text"
                         placeholder="Give your query a name..." ng-model="repository.selectedQuery.title" focus=""
                         class="form-control" style="width: 80%">

              <button type="button" class="close" ng-click="repository.show=false">×</button>

          </div>



          <!--
        <div class="radio">
      <label><input type="radio" name="visibility"  ng-value="true"
                              ng-model="repository.selectedQuery.published"
                              ng-selected="repository.selectedQuery.published"
                              title="Show in the community repository">public</label>
      <label><input type="radio" name="visibility"  ng-value="false"
                              ng-model="repository.selectedQuery.published"
                              ng-selected="!repository.selectedQuery.published"
                              title="Keep the query in your private repository" >private</label>
    </div>
    -->
      </div>

      <div class="modal-body" >
        <!--                                 -->
        <!-- Box for the list         -->
        <!--                                 -->
        <div class="-slide-in-left -slide-out-left" ng-show="!repository.selectedQuery">

          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="query in repository.queries | containsTag:repository.filterTag | filter:filterQuery | orderBy:'userQueryId'">
                <!--<td style="padding-left:0px;padding-right:0px">
                  <i class="gray btn-xs"  ng-class="(query.published && query.isOwner('nextprot') ? 'icon-certificate' : 'icon-globe')"></i>
                </td>-->
                <td style="width:85%">
                    <a title="{{query.description}} {{query.sparql}}" href="proteins/search?mode=advanced&queryId={{query.publicId}}" ng-click="repository.show=false">{{query.title}}</a>
                    <div class="details-query-popup" ng-show="query.seeDetails">
                        <p><b>Tags: </b>{{query.tags.join(", ")}}</span></p>
                        <p><b>Description: </b>{{query.description}}</p>
                        <p><b>Sparql: </b><i>{{query.sparql}}</i></p>
                        <p><b>Quey Id: </b>{{query.publicId}}</span></p>
                    </div>

                </td>
                  <!--Show the view button-->
                  <td style="font-size: 10px" class="bottom:-10">{{query.publicId}}</td>
                  <td >
                    <div class="btn-group pull-right">
                        <button class="btn btn-default btn-xs" type="button" ng-if="query.isEditable()" ng-click="deleteUserQuery(query)"><i class="icon-remove"></i></button>
                      <button class="btn btn-default btn-xs" type="button" ng-click="query.seeDetails=!query.seeDetails"><i ng-class="!query.seeDetails ? 'icon-eye-open' : 'icon-eye-close'"></i></button>
                        <!-- Sparql -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <!--                                                -->
          <!-- Box for editing or visualizing  -->
          <!--                                                 -->
          <div ng-if="repository.selectedQuery" class="slide-in-right slide-out-right" style="height: 300px;" >

              <!-- Sparql -->
            <div class="col-xs12" >
              <ui-codemirror id="search-query-save" class=" search-width-advanced"
                             ui-codemirror-opts="editorOptions" ng-model="repository.selectedQuery.sparql" ui-refresh="repository.selectedQuery.sparql">
              </ui-codemirror>
            </div>

              <!-- Horizontal break -->
              <hr/>

              <!-- Description -->
              <div class="col-xs-12 nopadding" >
                  <!-- when editing -->
                  <textarea ng-show="repository.selectedQuery.isEditable()" rows="4" id="inputDescription" class="form-control" placeholder="Write some description..." ng-model="repository.selectedQuery.description">
                  </textarea>

                  <!-- when visualizing -->
                  <p ng-hide="repository.selectedQuery.isEditable()">{{repository.selectedQuery.description}}</p>
              </div>

              <p ng-if="repository.selectedQuery.owner === 'nextprot'">Tags:
                  <span ng-repeat="tag in repository.selectedQuery.tags | orderBy" class="label label-default label-as-badge">{{tag}}</span>
                  <!-- <p ng-show="repository.selectedQuery.owner === 'nextprot'" class="pull-right"><a target="_blank" href="{{repository.selectedQuery.userQueryId | getGitHubUrl}}">Improve this query</a></p>-->
              </p>



          </div>

        </div>

        <!--------------------------------------------------------------------------------- -->
        <!--                 FOOTER                                                         -->
        <!-------------------------------------------------------------------------------- -->

        <!-- Create new button -->
        <div class="modal-footer">


          <!-- "Save" button showed only if there is a query selected -->
          <button  ng-show="repository.selectedQuery.isEditable()" class="btn btn-primary pull-right btn-sm" type="button"
                  ng-click="saveSelectedQuery()">Save
          </button>


            <p class="pull-left">For help with these queries look at <a target="_blank" href="http://snorql.nextprot.org/page"> the model</a> or <a href="mailto:support@nextprot.org" ng-click="gaTrackContactUsEvent('advanced-search')" >contact us.</a>
            </p>

        </div>
      </div>
    </div>
  </div>
</div>
