<div class="modal-dialog browser-not-supported">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Sorry, your browser is not supported !</h3>
        </div>
        <div class="modal-body">

            <p>You are currently using <strong>IE {{version}}</strong>.</p>

            <p>
                Please upgrade your Internet Explorer browser to Edge, or move to the latest version of Firefox/Chrome.
            </p>
            <p>Thank you !</p>
            <div class="row browserLinks">
                <div class="col-sm-4 col-md-2 col-md-offset-1">
                    <a href="https://www.google.com/chrome/" rel="nofollow" target="_blank">
                        <div class="thumbnail">
                            <img src="../../img/chrome_256x256.png" alt="chrome">
                            <div class="caption">
                                <p>Chrome</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a href="https://www.mozilla.org/en-US/firefox/new/" rel="nofollow" target="_blank">
                        <div class="thumbnail">
                            <img src="../../img/firefox_256x256.png" alt="firefox">
                            <div class="caption">
                                <p>Firefox</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" rel="nofollow" target="_blank">
                        <div class="thumbnail">
                            <img src="../../img/edge_256x256.png" alt="firefox">
                            <div class="caption">
                                <p>Edge</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a href="https://support.apple.com/downloads/safari" rel="nofollow" target="_blank">
                        <div class="thumbnail">
                            <img src="../../img/safari_256x256.png" alt="firefox">
                            <div class="caption">
                                <p>Safari</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-md-2">
                    <a href="http://www.opera.com/fr" rel="nofollow" target="_blank">
                        <div class="thumbnail">
                            <img src="../../img/opera_256x256.png" alt="firefox">
                            <div class="caption">
                                <p>Opera</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>