  
  <div  ng-cloak class="row search-row" style="margin-top:90px;">
    <div class="row-fluid">
      <form ng-submit="go()" validate>
      <div class="span3">
        <!--                        -->
        <!--  ENTITY SELECTION      -->
        <!--                        -->
	      <div class="btn-group pull-right">
	      
	        <a class="btn dropdown-toggle" data-toggle="dropdown" href="" id="search-entity">
            {{Search.config.entityMapping[Search.params.entity]}}&nbsp;
	          <span class="caret"></span>
	        </a>
	        <ul id="search-entity-dropdown" class="dropdown-menu">
	          <!-- dropdown menu links -->
	          <li><a  ng-click="entity({entity:'proteins'})">Proteins</a></li>
	          <li><a  ng-click="entity({entity:'publications'})">Publications</a></li>
	          <li><a  ng-click="entity({entity:'terms'})">Terms</a></li>
	        </ul>
	      </div>        
      <!--                        -->
      </div>
      <div class="span9 search-bar">
	      <div class=" input-append span8" ng-class="{'input-prepend':Search.config.solr.widgets.gold}">
	        <!--                        -->
	        <!--  QUALITY SELECTION     -->
          <!--                        -->
	        <div class="btn-group">
		        <button class="btn dropdown-toggle btn" type="button" ng-cloak data-toggle="dropdown" ng-show="Search.config.solr.widgets.gold" id="search-quality">
		          {{Search.config.solr.widgets.qualityLabel[Search.params.quality]}}
		          <span class="caret"></span>
		        </button>
		        <ul id="search-quality-dropdown" class="dropdown-menu" ng-show="Search.config.solr.widgets.gold">
		            <li><a ng-click="quality('gold')" >Gold only</a></li>
		            <li><a ng-click="quality('gold-and-silver')" >Include silver</a></li>
		        </ul>
	        </div>
          <!--                        -->

          <!--                        -->
          <!--  SEARCH TEXT FIELD     quality selection => width:65.812%; without => width:80.8%-->
          <!--                        -->
	        <input id="search-query" class=" "  type="text" ng-model="Search.params.query"  
	               ng-class="{'quality-search-width':Search.config.solr.widgets.gold,'no-quality-search-width':!Search.config.solr.widgets.gold}" 
	               autocomplete="off"  bs-autocomplete="Search.suggest">


          <!--                        -->
          <!--  CLEAN BUTTON          -->
          <!--                        -->
	        <button id="search-clear"  class="btn" type="button" ng-click="clean({})" ng-disabled="!Search.params.query || !Search.params.query.length"><i class="icon-remove ajax-end"></i></button>


          <!--                        -->
          <!--  SEARCH BUTTON         -->
          <!--                        -->
	        <button id="search-button" class="btn" type="submit"  ng-disabled="!Search.params.query || !Search.params.query.length"><i class="icon-search" ></i>&nbsp;Search</button>
	      </div>
	      <div class="span10 nomargin">	       
	        <span ng-show="Search.result.spellcheck.collations.length" id="search-didyoumean"><b>Did you mean:</b> 
	          <a href="{{Search.params.entity}}/search/{{Search.result.spellcheck.collations[0].collationQuery}}">{{Search.result.spellcheck.collations[0].collationQuery}}</a>
	          <span ng-show="Search.result.spellcheck.collations[1]">, 
	            <a href="{{Search.params.entity}}/search/{{Search.result.spellcheck.collations[1].collationQuery}}">{{Search.result.spellcheck.collations[1].collationQuery}}</a>
	          </span>
	        </span>&nbsp;
	      </div>
	      


      </div>
      </form>
    </div>   
      <div class="row solrparams" >

      </div>             

  </div>
  