<a data-toggle="dropdown" tabindex="-1"  href="">Sort<sub > {{displaySort().text}} <i class="{{displaySort().image}}"></i></sub> <b class="caret" /> </a>
<ul class="dropdown-menu">
  <li><a href="" ng-click="params({order:'asc'})" ng-class="{bold:displaySort().isAsc}">Ascending order</a></li>
  <li><a href="" ng-click="params({order:'desc'})" ng-class="{bold:!displaySort().isAsc}">Descending order</a></li>
  <li class="divider"></li>
  <li><a href="" ng-click="params({sort:'gene','order':null})">Gene name</a></li>
  <li><a href="" ng-click="params({sort:'protein','order':null})">Protein name</a></li>
  <li><a href="" ng-click="params({sort:'family','order':null})">Protein family name</a></li>
  <li><a href="" ng-click="params({sort:'chromosome','order':null})">Chromosome</a></li>
  <li><a href="" ng-click="params({sort:'ac','order':null})">ACs</a></li>
  <li><a href="" ng-click="params({sort:'length','order':null})">Protein length</a></li>
  <li><a href="" ng-click="params({sort:null,'order':null});">The ranking score</a></li>
</ul>
