<a data-toggle="dropdown" class="dropdown-toggle" href="">Sort<sub> {{displaySort().text}}  <i class="{{displaySort().image}}"></i></sub> <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a href="" ng-click="params({order:'asc'})" ng-class="{bold:displaySort().isAsc}">Ascending order</a></li>
  <li><a href="" ng-click="params({order:'desc'})" ng-class="{bold:!displaySort().isAsc}">Descending order</a></li>
  <li class="divider"></li>
  <li><a href="" ng-click="params({sort:'name',order:null});">Name</a></li>
  <li><a href="" ng-click="params({sort:null,order:null});">The ranking score</a></li>
</ul>

