<a data-toggle="dropdown" class="dropdown-toggle" href="">Sort<sub ng-show="Search.params.sort"> {{Search.params.sort}}</sub> <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a href="" ng-click="params({sort:'gene'})">Gene name</a></li>
  <li><a href="" ng-click="params({sort:'protein'})">Protein name</a></li>
  <li><a href="" ng-click="params({sort:'family'})">Protein family name</a></li>
  <li><a href="" ng-click="params({sort:'ac'})">ACs</a></li>
  <li><a href="" ng-click="params({sort:'length'})">Protein length</a></li>
  <li><a href="" ng-click="params({sort:null});">The ranking score</a></li>
</ul>
