<!--                                                                  -->
<!--  HELP / REPOSITORY                                               -->
<div class="modal-dialog fade-out fade-in  repository-modal" ng-show="repository.show" >
    <div class="modal-content">
      <div class="modal-header " ng-show="!repository.selectedQuery">
          <button type="button" class="close" ng-click="repository.show=false">×</button>
          <!--filter-->
          <input type="text" ng-model="filterQuery" placeholder="search in {{queryRepository.category}} repository" class="form-control " style="width:80%">
          <!--Selectable repositories-->
          <button data-toggle="tooltip" title="{{queryRepository.getDescription()}}" class="btn {{(Advanced.currentRepository == rep) ? 'btn-inverse' : ''}} btn-default" ng-repeat="rep in Advanced.repositories" type="button" ng-click="showRepository2(rep)"><i class="{{rep.icon}}"></i></button>
      </div>

      <!-- HEADER QUERY TITLE  -->
      <div class="modal-header " ng-show="repository.selectedQuery">

        <button type="button" class="close" ng-click="repository.show=false">×</button>

        <!-- Title when query is readonly -->
        <h4 ng-if="!repository.selectedQuery.isEditable()">{{repository.selectedQuery.title}}</h4>

        <!-- Title when query is editable  -->
        <input  ng-show="repository.selectedQuery.isEditable()" type="text" 
                     placeholder="Name..." ng-model="repository.selectedQuery.title" focus="" class="span6 form-control">
        
        <div class="radio">
          <label><input type="radio" name="visibility"  value="option1" checked> public</label>
          <label><input type="radio" name="visibility"  value="option2" checked> private</label>
        </div>
        <button data-toggle="tooltip" title="Keep the query in your private repository" 
                      ng-if="repository.selectedQuery.isEditable()" class="btn  {{(!repository.selectedQuery.published) ? 'btn-inverse' : ''}} btn-default" type="button" ng-click="repository.selectedQuery.published=!repository.selectedQuery.published">
                  <i class="icon-user"></i>
        </button>
        <button data-toggle="tooltip" title="Show in the community repository" ng-if="repository.selectedQuery.isEditable()" class="btn  {{(repository.selectedQuery.published) ? 'btn-inverse' : ''}} btn-default" type="button" ng-click="repository.selectedQuery.published=!selectedQuery.published">
          <i class="icon-globe"></i>
        </button>
      </div>

      <div class="modal-body" >
        <!--                                 -->
        <!-- Box for the list         -->
        <!--                                 -->
        <div class="-slide-in-left -slide-out-left" ng-show="!repository.selectedQuery">

          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="query in repository.queries | filter:filterQuery | orderBy:'title'">
                <td style="padding-left:0px;padding-right:0px">
                  <i class="gray btn-xs"  ng-class="(query.published && query.isOwner('nextprot') ? 'icon-certificate' : 'icon-globe')"></i>
                </td>
                <td style="width:85%"><a href="" ng-click="applyCurrentQueryForSearch(query)" class="query-title">{{query.title}}
                  [{{query.owner}}]</a></td>
                  <!--Show the view button-->
                  <td >
                    <div class="btn-group">
                      <button class="btn btn-default btn-xs" type="button" ng-if="!query.isEditable()" ng-click="setCurrentQuery(query)"><i class="icon-eye-open"></i></button>
                      <button class="btn btn-default btn-xs" type="button" ng-if="query.isEditable()" ng-click="setCurrentQuery(query)"><i class="icon-edit"></i></button>
                      <button class="btn btn-default btn-xs" type="button" ng-if="query.isEditable()" ng-click="deleteAdvancedQuery(query)"><i class="icon-remove"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <!--                                                -->
          <!-- Box for editing or visualizing  -->
          <!--                                                 -->
          <div ng-if="repository.selectedQuery" class="slide-in-right slide-out-right" style="height: 300px;" >
            <!-- Sparql -->
            <div class="col-xs12" >
              <ui-codemirror id="search-query-save" class=" search-width-advanced"
                             ui-codemirror-opts="editorOptions" ng-model="repository.selectedQuery.sparql" ui-refresh="repository.selectedQuery.sparql">
              </ui-codemirror>
            </div>

            <!-- Description -->
            <hr/>
            <div class="col-xs-12 nopadding" >
              <textarea ng-show="repository.selectedQuery.isEditable()" rows="4" id="inputDescription" class="form-control" placeholder="Write some description..." ng-model="repository.selectedQuery.description">
              </textarea>

              <p ng-hide="repository.selectedQuery.isEditable()">{{repository.selectedQuery.description}}</p>
            </div>

          </div>

        </div>

        <!-- Create new button -->
        <div class="modal-footer">

          <!-- "Create new" only if there is no query selected -->
          <button ng-show="!repository.selectedQuery" class="btn btn-primary pull-right btn-sm" type="button"
                  ng-click="createNewEmptyQuery();">New
          </button>

          <!-- "Save" button showed only if there is a query selected -->
          <button  ng-show="repository.selectedQuery.isEditable()" class="btn btn-primary pull-right btn-sm" type="button"
                  ng-click="saveSelectedQuery()">Save
          </button>

          <!-- "Back" button showed only if there is a query selected -->
          <button ng-show="repository.selectedQuery" class="btn pull-left btn-default btn-sm" type="button"
                  ng-click="clearSelectedQuery();">Back
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
