<div ng-controller="UserCtrl" class="modal  " _modalonload="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="locateToReferrer()">×</button>
        <h3>Please Log In, or <a href="" ng-click="signup()">Sign Up</a></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" ng-submit="login(username,password)">
            <div class="control-group">
                <label class="control-label" for="inputUsernameEmail">Username or email</label>

                <div class="controls">
                    <input ng-model="username" type="text" class="form-control" id="inputUsernameEmail">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>

                <div class="controls">
                    <input ng-model="password" type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox"><input type="checkbox"> Remember me </label>
                    <button type="submit" class="btn btn-primary"> Log In</button>
                </div>
            </div>
            <div class="control-group">
                <div class="login-or">
                    <!--<span class="span-or">or</span>-->
                    <hr class="hr-or">
                    <!--<span class="span-or">or</span>-->
                </div>
            </div>

        </form>
            <div class="control-group">

                <div class="controls">

                    <span id="signin" ng-show="immediateFailed">
                        <span id="myGsignin"></span>
                    </span>

                    <div style="text-align:center;">
                        <button class="btn text-center " ng-click="clickSignIn()">
                            <img src="../img/google.png" style="height: 20px; width: 20px"/>
                            Sign in with Google
                        </button>
                    </div>


                    <button class="btn btn-lg btn-block" ng-click="clickSignOut()" ng-show="!User.isAnonymous()">Sign out</button>


                    <!--<span id="signinButton">-->
                        <!--<span-->
                              <!--class="g-signin"-->
                              <!--data-callback="googleCallback"-->
                              <!--data-clientid="CLIENT_ID"-->
                              <!--data-cookiepolicy="single_host_origin"-->
                              <!--data-requestvisibleactions="http://schemas.google.com/AddActivity"-->
                              <!--data-scope="https://www.googleapis.com/auth/plus.login">-->
                      <!--</span>-->
                    <!--</span>-->

                    <!--<button type="btn " ng-click="googleSignin()">Google</button>-->

                </div>

            </div>

    </div>
    <div class="modal-footer"></div>


</div>
