<div ng-controller="UserCtrl" class="modal hide fade" modal-on-load="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Please Log In, or <a href="" ng-click="signup()">Sign Up</a></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" ng-submit="login(username,password)">
            <div class="control-group">
                <label class="control-label" for="inputUsernameEmail">Username or email</label>

                <div class="controls">
                    <input ng-model="username" type="text" class="form-control" id="inputUsernameEmail">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>

                <div class="controls">
                    <input ng-model="password" type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox"><input type="checkbox"> Remember me </label>
                    <button type="submit" class="btn btn-primary"> Log In</button>
                </div>
            </div>
            <div class="control-group">
                <div class="login-or">
                    <!--<span class="span-or">or</span>-->
                    <hr class="hr-or">
                    <!--<span class="span-or">or</span>-->
                </div>
            </div>

        </form>
            <div class="control-group">

                <div class="controls">

                    <span id="signin" ng-show="immediateFailed">
                        <span id="myGsignin"></span>
                    </span>

                </div>

            </div>

    </div>
    <div class="modal-footer"></div>


</div>